<app-menu-bar></app-menu-bar>
<section class="overview-page__banner" aria-label="overview page banner">
     
    <div class="container">
      <h1>New Peripheral Registration</h1>
      <form [formGroup]="loanForm" (ngSubmit)="sendForm()" class="form">
        <div >
            <ibm-label *ngFor="let product of fields">
                {{product.name}}
                <input ibmText type="{{product.type}}" [autocomplete]="false" required formControlName="{{product.id}}">
            </ibm-label>
        </div>
        <button ibmButton="secondary">Cancel Registration</button>
        <button ibmButton="primary">Confirm Registration</button>
      </form>
    </div>
  </section>
  