<app-menu-bar></app-menu-bar>
<section class="overview-page__banner" aria-label="overview page banner">

  <div class="container">
    <div class="Separate">
      <h1>Loans</h1>
      <div>
        <a ibmButton="secondary" [routerLink]="['../../newloan']">Register Loan</a>
      </div>
    </div>
    <div ibmGrid>
      <div ibmRow>
        <div ibmCol class="multi-selection">
          <button ibmButton="primary" (click)="resetFilters()" class="reset-button">Reset Filters</button>
          <fieldset class="bx--fieldset">
            <legend class="bx--label">Device Status</legend>
            <ibm-radio-group aria-label="radiogroup" orientation="vertical" labelPlacement="right">
              <ibm-radio *ngFor="let radio of radios" [value]="radio.color">
                {{radio.color}}
              </ibm-radio>
            </ibm-radio-group>
          </fieldset>
          <fieldset class="bx--fieldset">
            <div ibmRow>
              <div ibmCol>
                <legend class="bx--label">Device Type</legend>
              </div>
              <div ibmCol>
                <ibm-tag-filter *ngIf="deviceTypeFilters.length > 0">
                  {{deviceTypeFilters.length}}
                </ibm-tag-filter>
              </div>
            </div>
            <ibm-checkbox *ngFor="let listItem of deviceType" [checked]="listItem.checked">
              {{ listItem.value }}
            </ibm-checkbox>
          </fieldset>
        </div>
        <div ibmCol [columnNumbers]="{'lg': 10, 'md': 10, 'sm': 3}" class="data-table">
          <ibm-structured-list>
            <ibm-list-header>
              <ibm-list-column *ngFor="let product of columns" class="listColumn--Header">
                  {{product}}
              </ibm-list-column>
              <ibm-list-column></ibm-list-column>
            </ibm-list-header>
            <ibm-list-row *ngFor="let product of areaLoans">
              <ibm-list-column class="listColumn">
                {{product.emploeeID}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.emploeeName}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.deviceID}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.deviceType}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.deviceBrand}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.serialNumber}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.termsConditions}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.secAuth}}
              </ibm-list-column>
              <ibm-list-column class="listColumn">
                {{product.returned}}
              </ibm-list-column>
              <ibm-list-column>
                <button ibmButton="secondary">Submit</button>
              </ibm-list-column>
            </ibm-list-row>
          </ibm-structured-list>
        </div>
      </div>
    </div>

  </div>
</section>
