<app-menu-bar></app-menu-bar>
<style>
</style>
<section class="overview-page__banner" aria-label="overview page banner">
    <div class="LoanInfo">
       <h2>Profile</h2> 
       <p></p>
        <ibm-tabs>
            <div *ngFor="let item of Profile | keyvalue"class="tab">
                <div *ngFor="let profile of item.value" >
                    <div class="b"> </div>
                    <div class="CardParent">

                        
                        <div class="c"> <p></p>
                                <img style="text-align:center" src="../../assets/profile.png"  width= "150px" padding= "20px" alt="" >
                        <p class = "ImageText">  {{profile.name}}</p>
                        </div>
                        
                        <span class="b"> 

                           

                        <h5> <svg ibmIcon="document" size="16"></svg> Contact Information:   </h5>
                        <p>E-mail:                 <a>{{profile.email}}</a></p>
                        <p>Mobile:                 <a >{{profile.telephone}}</a></p>
                        <p>Slack:                 <a >{{profile.slack}}</a></p>
                        <p></p><p></p><p></p>
                        <h5 ><svg ibmIcon="document" size="16"></svg> General Information: </h5>
                        <p>Departments:                 <a >{{profile.department}}</a></p>
                        <p>Role:                 <a >{{profile.role}}</a></p>
                        </span>
                        
                        
                    </div>
                    
            </div>
            </div>
        </ibm-tabs>
    </div>

</section>
