@import '~carbon-components/scss/globals/scss/styles';
.container {
    width: 80%;
    z-index: 100;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    grid-auto-rows: minmax(100px, auto);
}

.overview-page__banner {
    min-height: 100vh;
    padding: 24px;
    /*$spacing-06;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.DeviceCard{
    border: 0px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px; /*$spacing-03*/
}

.CardParent>img{
    width: 120px;
    padding: 20px;
}
.img{
    width: 120px;
    padding: 20px;
}
.DeviceCard--Info{
    width: 100%;
    padding: 20px;
}
span.b {
    display: inline-block;
    width: 412px;
    height: 100px;
    padding: 5px;
    padding-top: 50px;
    padding-left: 200px;
  }
  
  .span.b>img{
    width: 120px;
    padding: 20px;
}

.c {
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 5px;
    right: 100px;
    padding-left: 78px;
    padding-top: 60px;
    align-items:center;

  }

.CardParent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.24fr);
    background-color: rgba(244, 244, 244, 1);
    gap: 24px; /*$spacing-06*/
    grid-auto-rows: minmax(200px, 400px);
}

.d{
    width: 10px;
}
p {
    font-size: 15px;
    padding: 5px;
  }
  .ImageText {
    width: 152px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
  }
.LoanChart img{
    width: 100%;
}

.page-title {
    padding-bottom: 20px;
}

.overview-page__banner {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: $spacing-07;
    padding: $spacing-11 $spacing-07;
    box-sizing: border-box;
}
.DeviceCard{
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px; /*$spacing-03*/
}
.DeviceCard>img{
    width: 120px;
}
.DeviceCard--Info2{
    width: 100%;
}
.CardParent2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px; /*$spacing-06*/
    grid-auto-rows: minmax(100px, auto);
}
.LoanInfo2{
    padding-top: 60px;
}



@media screen and (min-width: 1515px) {
    .banner__title {
       font-size: 50px;
    }
    .banner__subtitle {
        font-size: 28px;
    }
}
